@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.textarea {
  resize: none;
}

.input,
.textarea {
  background: none;
  color: yellow;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid yellow;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: white;
  }
  &:focus ~ .bar:before {
    width: 200px;
  }
}

.input[type="password"] {
  letter-spacing: 0.3em;
}

.label {
  color: yellow;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.7s ease all;
}

.bar {
  position: relative;
  display: block;
  width: 200px;
  &:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: white;
    transition: 0.7s ease all;
    left: 0%;
  }
}

.btn {
  background: #fff;
  color: mix(black, yellow, 25%);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  &:hover {
    color: mix(black, yellow, 30%);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }
  &.btn-link {
    background: white;
    color: mix(white, white, 80%);
    &:hover {
      background: darken(white, 5%);
      color: mix(white, white, 85%);
    }
  }
  &.btn-submit {
    background: white;
    color: mix(white, white, 70%);
    &:hover {
      background: darken(white, 5%);
      color: mix(white, white, 85%);
    }
  }
  &.btn-cancel {
    background: #eee;
    &:hover {
      background: darken(#eee, 5%);
      color: mix(black, yellow, 30%);
    }
  }
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}

