@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
  margin-bottom: 4rem;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3rem;

  width: 500px;
  height: 300px;

  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.30);
}

.textarea {
  resize: none;
}

.input,
.textarea {
  background: none;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.input:focus {
    outline: none;
  }


.label {
  color: black;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.7s ease all;
}

.bar {
  position: relative;
  display: block;
  width: 200px;
}

.bar::before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: white;
    transition: 0.7s ease all;
    left: 0%;
} 


.button{
  border: none;
  font-size: 16px;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  display: block;

  background: linear-gradient(to right, yellow 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.button:hover{
  background-position: left bottom;
}

.restart{
  border: none;
  font-size: 16px;
  border-radius: 8px;
  width: 200px;
  font-weight: 500;
  height:  70px;
  color : black;
  background-color: antiquewhite;
  cursor: pointer;
  margin-top: 2rem;
}